.text{
    background-color:aliceblue;
    border: 1px solid black;
    border-radius: 12px;
    line-height: 30px;
    width: 300px;
}
.name{
    font-size: 105%;
    position: relative;
}
.forget{
    font-size: 80%;
    color: #6096FD;
    position: relative;
}
.sign_up{
    width: 310px;
    line-height: 35px;
    border-radius: 12px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #FB7B8E;
    border: 1px solid #fff;
}
.sign_up:active{
    background: #AAB6FB;
}
div{
    text-align: center;
}